заголовок в форме (регистрейшен форм)
заклатка в браузепе (регистрейшен форм)
иконка (питона)
отмечены обязательные поля должны быть
после перезагрузки страницы поля очищаются
кнопка красивая должна быть
отмечает поле с ощибкой 

Name/Surname------
placeholder должен содержать( введите ...) и быть унифицырованным 
мин 2 символы мах 128 символов
- _ . и цыфры пробел спецсимволы,
спецсимволы подрят два нельзя
начинаться имя и заканциватся только буквы или цыфры
не регистрозависимое
только латиница
обязвтельное к заполнению
при фокусировки на поле placeholder долже исчезать
при фокусировки на поле появляется рамочка синего цвета
name, email, password обязвтельные поля
скрипт валидации срабатывает работает после отправки данных
и указывает в каком поле ошибка подсвечивая его 
после отправки появляется сообшение о саксесе
смайлики ввести нельзя
Ctrl c Ctrl V работает
Tab переход по полям
Enter срабатывает кнопка Submit
после обновления страницы сообшение исчезает
Email--------
обязательный @ и точка после @
. @ -
латиница
мин 4 мах 64 @ мин 2 мах 32 . мин 2 мах 16
не регистрозависимое поле
подтверждение на почт у не приходит
пробелы запрешены
доменные зоны с цыфрами не бывает
Password --------
обязвтельное к заполнению
только латиница
Только один из спец @ ! . (обязательно)
одна цифра обязательно большая и маленькая 
мин 8 - 16 макс
закрывается булитами сразу 
вставлять можно
копировать нельзя выризать нельзя
подсказка о праввильности ввода






